<ion-content class="pageBg">
  <div class="imgWrap">
    <img src="../../assets/logo.png" alt="logo">
    <h2>Laboratorio</h2>
  </div>
  <div class="wrap">
    <ion-item>
      <ion-label position="floating">Používateľské meno</ion-label>
      <ion-input [(ngModel)]="login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Heslo</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button (click)="loginUser()" expand="block" fill="solid" color="danger">Prihlasiť</ion-button>
  </div>
</ion-content>