@import '../../theme/variables';

.wrapper {
    display: flex;
    line-height: 30px;
}
.desc {
    flex-grow: 6;
}

.delete {
    flex-grow: 1;
    text-align: right;
}

.remove-icon {
    color: $danger;
    top: 5px;
    position: relative;
    margin-right: 5px;
    transition: 0.1s all linear;
    &:hover {
        transform: scale(1.1);
        color: $success;
        cursor: pointer;
        top: 0px;
    }
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    li {
        margin-bottom: 6px;
    }
}

.li-element {
    position: relative;
    top: 6px;
    font-size: 1.4em;
    color: $li-element-icon;
}

.calendar-danger {
    padding-left: 10px;
    border-radius: 7px;
    border-left:  10px solid $danger;
}

.calendar-warn {
    padding-left: 10px;
    border-radius: 7px;
    border-left:  10px solid $warning;
}

.calendar-ok {
    padding-left: 10px;
    border-radius: 7px;
    border-left:  10px solid $li-element-icon;
}

.doneIcon {
    font-size: 20px;
    top: 6px;
    position: relative;
}

.addTask {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: $danger;
}

.pad-r {
    padding-right: 10px;
    position: relative;
    top: 2px;
    color: $warning;
}

.removeMyTask {
    position: absolute;
    right: 12px;
    font-size: 20px;
}
.doneMyTask {
    position: absolute;
    right: 40px;
    font-size: 20px;
}

.line-cross {
    text-decoration: line-through; 
}