.wrapper {
    text-align: center;
    margin-top: 40vh;
    ion-spinner {
        color: royalblue;
    }
}
.dateIcon {
    position: relative;
    top: 4px;
    font-size: 20px;
    padding-right: 10px;
    color: #f96095;
}